{%load static%}
<!doctype html>
<html lang="en">
<style>
    *{
        font-family: 'Merriweather', serif;
    }
    table tr td{
      font-size: 16px;
    }
    label{
      margin-top: 10px;
      margin-bottom: 5px;
      font-weight: bold;
      color: darkblue;
    }
    .asteriskField {
    display: none;
    }
</style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
<title>Đội bóng Đại Hữu</title>
    <!-- Bootstrap CSS -->
      <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Iceland" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet"/>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <nav class="d-flex flex-row navbar navbar-dark" style="background-color: yellow; height:80px">
    <div class="col-1"></div>
    <div class="col-11" style="padding-top:10px"><a href="/" style="text-decoration:none"><h1 style="font-weight:bold; color:#291061;">ĐẠI HỮU F.C</h1></a></div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark py-2" style="background-color: #291061;">
  <div class="container-fluid">
    <a class="navbar-brand bg-image hover-zoom" href="/" style="padding-left: 10px;">
        <img  class="rounded-circle" src="{% static 'images/brand.jpg'%}" width="50" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" style="margin-right:10px;">
          <a class="nav-link" href="/" >TRANG CHỦ <i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item" style="margin-right:10px;">
          <a class="nav-link" href="{% url 'ThongTin' %}">THÔNG TIN <i class="fa fa-info-circle" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item dropdown" style="margin-right:10px;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            TIN TỨC <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown"  style="background-color: #291061;">
            <li><a class="dropdown-item" href="{% url 'TinTucTheLoai' 'Đại Hữu FC' %}">ĐẠI HỮU FC</a></li>
            <li><a class="dropdown-item" href="{% url 'TinTucTheLoai' 'Bóng đá trong nước' %}">BÓNG ĐÁ TRONG NƯỚC</a></li>
            <li><a class="dropdown-item" href="{% url 'TinTucTheLoai' 'Bóng đá quốc tế' %}">BÓNG ĐÁ QUỐC TẾ</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'TinTuc' %}">TẤT CẢ</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" style="margin-right:10px;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            HOẠT ĐỘNG CỘNG ĐỒNG <i class="fa fa-handshake-o" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown"  style="background-color: #291061;">
            <li><a class="dropdown-item" href="{% url 'TinTucTheLoai' 'Y tế' %}">Y TẾ</a></li>
            <li><a class="dropdown-item" href="{% url 'TinTucTheLoai' 'Giáo dục' %}">GIÁO DỤC</a></li>
            <li><a class="dropdown-item" href="{% url 'TinTucTheLoai' 'Kết nối doanh nghiệp' %}">KẾT NỐI DOANH NGHIỆP</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'HoatDong' %}">TẤT CẢ</a></li>
          </ul>
        </li>
          <li class="nav-item dropdown" style="margin-right:10px;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ĐỘI HÌNH <i class="fa fa-futbol-o" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown"  style="background-color: #291061;">
            <li><a class="dropdown-item" href="{% url 'ChinhThuc' %}">CHÍNH THỨC</a></li>
            <li><a class="dropdown-item" href="{% url 'DuBi' %}">DỰ BỊ</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'DoiHinh' %}">TẤT CẢ</a></li>
          </ul>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'LichThiDau' %}">TRẬN ĐẤU <i class="fa fa-calendar" aria-hidden="true"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                <li class="nav-item" style="margin-right:10px;">
                <a class="nav-link text-light" href="#">Xin chào, {{user.username|default:'Guest' }} <i class="fa fa-user" aria-hidden="true"></i></a>
                </li>
                {% if user.is_staff %}
                <li class="nav-item" style="margin-right:10px;">
                <a class="nav-link" href="https://doan1-quochoang.herokuapp.com/admin">Trang Admin <i class="fa fa-sign-in" aria-hidden="true"></i></a>
                </li>
                {% endif %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}?next={{request.path}}">ĐĂNG XUẤT <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </li>
            {% else %}
            <li class="nav-item" style="margin-right:10px;">
                <a class="nav-link" href="{% url 'login' %}?next={{request.path}}">ĐĂNG NHẬP <i class="fa fa-sign-in" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">ĐĂNG KÝ <i class="fa fa-user-plus" aria-hidden="true"></i></a>
            </li>
            {% endif %}
        </ul>
    </div>
  </div>
  </nav>

{% block slider %}

{%endblock%}

  <div class="container-fluid" style="padding-top:30px; min-height:800px">
        <div class="row">
            <div class="col-lg-2">

            </div>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example container col-lg-8" tabindex="0">
{% block content %}

{% endblock %}
</div>
            <div class="col-lg-2">

            </div>
</div>
</div>
<hr>
<div class="container-fluid">
  <footer class="d-flex flex-wrap justify-content-around align-items-center py-3 my-4 border-top">
    <img src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1642539389/media/images/brand4_ybys9c.jpg">
    <img src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1642539388/media/images/brand2_kr171x.jpg">
    <img src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1642539388/media/images/brand5_jhwlgt.jpg">
    <img src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1642539388/media/images/brand1_cvltsi.jpg">
    <img src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1642539388/media/images/brand3_cg6uia.jpg">
    <img src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1642539808/media/images/brand5_sem0et.jpg">
    <img src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1642539808/media/images/brand10_efisva.jpg">
    <img src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1642539808/media/images/brand8_wdxsrh.jpg">
    <img src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1642539808/media/images/brand7_ijgpdc.jpg">
    <img src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1642539808/media/images/brand9_mkhpnz.jpg">

  </footer>
</div>
  <div class="container-fluid" style="background-color:#291061">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Đại Hữu, Inc</p>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Facebook</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Twitter</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Instagram</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
  </footer>
</div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
    </script>
  </body>
</html>