{% extends 'daihuu/base_no_ad.html' %}
{%load static%}
{% block content %}
    <div class="container">
    <h3 style="font-weight:bold;">Thủ môn</h3>
    <div class="d-flex flex-wrap">
    {% for player in thumon %}
        <a href="{% url 'DoiHinhDetail' player.pk %}" style="text-decoration: white;margin-right: 30px;" class="link-dark">
        <div class="card bg-image hover-zoom" style="width: 15rem;">
              <img class="card-img-top" height="250px" src="{{player.hinh_dai_dien.url}}" onerror="this.onerror=null; this.src='{% static 'images/default_ava1.jpg' %}'" alt="Card image cap">
            <div class="card-body" style="padding-top:20px">
                <h6 class="card-title" style="font-weight: bold; text-align: center;">{{player.so_ao}}-{{player.ho}} {{player.ten}}</h6>
             </div>
        </div>
        </a>
    {% endfor %}
    </div>
<hr>
    <h3 style="font-weight:bold;">Hậu vệ</h3>
    <div class="d-flex flex-wrap">
    {% for player in hauve %}
        <a href="{% url 'DoiHinhDetail' player.pk %}" style="text-decoration: white;margin-right: 30px;" class="link-dark">
        <div class="card bg-image hover-zoom" style="width: 15rem;">
              <img class="card-img-top" height="250px" src="{{player.hinh_dai_dien.url}}" onerror="this.onerror=null; this.src='{% static 'images/default_ava1.jpg' %}'" alt="Card image cap">
            <div class="card-body" style="padding-top:20px">
                <h6 class="card-title" style="font-weight: bold; text-align: center;">{{player.so_ao}}-{{player.ho}} {{player.ten}}</h6>
             </div>
        </div>
        </a>
    {% endfor %}
    </div>
<hr>
    <h3 style="font-weight:bold;">Tiền vệ</h3>
    <div class="d-flex flex-wrap">
    {% for player in tienve %}
        <a href="{% url 'DoiHinhDetail' player.pk %}" style="text-decoration: white;margin-right: 30px;" class="link-dark">
        <div class="card bg-image hover-zoom" style="width: 15rem;">
              <img class="card-img-top" height="250px" src="{{player.hinh_dai_dien.url}}" onerror="this.onerror=null; this.src='{% static 'images/default_ava1.jpg' %}'" alt="Card image cap">
            <div class="card-body" style="padding-top:20px">
                <h6 class="card-title" style="font-weight: bold; text-align: center;">{{player.so_ao}}-{{player.ho}} {{player.ten}}</h6>
             </div>
        </div>
        </a>
    {% endfor %}
    </div>
<hr>
    <h3 style="font-weight:bold;">Tiền đạo</h3>
    <div class="d-flex flex-wrap">
    {% for player in tiendao %}
        <a href="{% url 'DoiHinhDetail' player.pk %}" style="text-decoration: white;margin-right: 30px;" class="link-dark">
        <div class="card bg-image hover-zoom" style="width:15rem">
              <img class="card-img-top" height="250px" src="{{player.hinh_dai_dien.url}}" onerror="this.onerror=null; this.src='{% static 'images/default_ava1.jpg' %}'" alt="Card image cap">
            <div class="card-body" style="padding-top:20px">
                <h6 class="card-title" style="font-weight: bold; text-align: center;">{{player.so_ao}}-{{player.ho}} {{player.ten}}</h6>
             </div>
        </div>
        </a>
    {% endfor %}
    </div>
    </div>
{% endblock %}