{% extends 'daihuu/base_no_ad.html' %}
{% load static %}
{% block slider %}
        <style>

   .carousel .carousel-item {
  height: 800px;
   }

    .carousel-item img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        min-height: 800px;
    }
        </style>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1644816669/media/images/daihuu/slider/slide1_2_bjnvwf.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1644816819/media/images/daihuu/slider/slide2_2_wrdqp1.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1644817209/media/images/daihuu/slider/slide3_2_b5v2jo.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1644817543/media/images/daihuu/slider/slide4_2_n9rwww.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" ></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" ></span>
  </button>
</div>
{% endblock %}
                {% block content %}
                <h2 style="text-align:center;font-weight: bold;">TRẬN ĐẤU MỚI <i class="fa fa-calendar" aria-hidden="true"></i></h2>
                <div class="d-flex justify-content-center">
                    <table class="table table-borderless table-responsive" style="width:70%; border: green 8px solid; background-color: #291061;color: white;">
                          <tbody>
                            {% for match in some_match %}
                            {% if forloop.counter == 1%}
                            <tr class="d-flex">
                                 <td class="flex-fill d-flex justify-content-center"  style="font-weight: bold; font-size: 30px; color: white;">{{match.giai_dau|upper}}</td>
                            </tr>
                            <tr class="d-flex">
                                <td class="flex-fill d-flex justify-content-center align-items-center" style="font-weight: bold; font-size: 20px;" width="20%">{{ match.doi_bong.filter.first|upper}}</td>
                                <td class="flex-fill d-flex justify-content-center align-items-center bg-image hover-zoom" width="20%"><img class="rounded-circle img-fluid" src="{{match.doi_bong.all.filter.first.logo.url}}" onerror="this.onerror=null; this.src='{% static 'images/default_logo1.jpg' %}'" width="150px" height="150px"></td>
                                <td class="flex-fill d-flex justify-content-center align-items-center" width="auto" style="font-family:Iceland;font-size: 60px;font-weight: bold; color: yellow; text-align: center;">{{ match.diem_so }}</td>
                                <td class="flex-fill d-flex justify-content-center align-items-center bg-image hover-zoom" width="20%"><img class="rounded-circle img-fluid" src="{{match.doi_bong.all.filter.last.logo.url}}" onerror="this.onerror=null; this.src='{% static 'images/default_logo2.jpg' %}'" width="150px" height="150px"></td>
                                <td class="flex-fill d-flex justify-content-center align-items-center" style="font-weight: bold;font-size: 20px;" width="20%">{{ match.doi_bong.filter.last|upper}}</td>
                            </tr>
                            <tr class="d-flex">
                                 <td class="flex-fill d-flex justify-content-center align-items-center" style="border-bottom: green 5px solid;">{{match.thoi_gian|date:'d/m/Y - H:i'}} - {{match.dia_diem}}</td>
                            </tr>
                            {%endif%}
                            <tr class="d-flex">
                            {% if forloop.counter > 1 and forloop.counter < 5%}
                                <td class="flex-fill d-flex justify-content-center align-items-center" width="20%"></td>
                                <td class="flex-fill d-flex justify-content-center align-items-center" width="20%" style="font-weight:bold">{{ match.doi_bong.filter.first}}</td>
                                <td class="flex-fill d-flex justify-content-center align-items-center" width="20%" style="font-family:Iceland;font-size: 25px;font-weight: bold; color: yellow;">{{ match.diem_so }}</td>
                                <td class="flex-fill d-flex justify-content-center align-items-center"width="20%" style="font-weight:bold">{{ match.doi_bong.filter.last}}</td>
                                <td class="flex-fill d-flex justify-content-center align-items-center" width="20%"></td>
                            {%endif%}
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                </div>
                 <div class="d-flex justify-content-center">
                    <a href="{% url 'LichThiDau' %}" class="ml-auto btn btn-success active" role="button">XEM THÊM TRẬN ĐẤU</a>
                </div>
            <h2 style="text-align: center; font-weight: bold; padding-top: 100px;">TIN TỨC BÓNG ĐÁ MỚI <i class="fa fa-newspaper-o" aria-hidden="true"></i></h2>
            <div class="d-flex flex-wrap">
                {% for post in tin_tuc %}
                    <div class="bg-image hover-zoom mx-1">
                    <a href="{% url 'PostDetail' post.pk %}" style="text-decoration: none; color: black ; margin-right: 20px;">
                    <div class="card" style="width: 25rem;">
                        {% if post.hinh_dai_dien %}
                          <img class="card-img-top rounded" src="{{ post.hinh_dai_dien.url }}" onerror="this.onerror=null; this.src='{% static 'images/default_thumb.jpg' %}'" width="500px" height="200px" alt="Card image cap">
                        {% endif %}
                          <div class="card-body">
                            <h5 class="card-title">{{ post.tieu_de }}</h5>
                            <div class="d-flex justify-content-between">
                                    <p><small class="text-muted">Thể loại: {{post.the_loai}}</small></p>
                                    <p><i class="fa fa-calendar" aria-hidden="true">&nbsp;</i><small class="text-muted">{{post.ngay_dang|date:'H:i, d/m/Y'}}</small></p>
                            </div>
                          </div>
                    </div>
                    </a>
                    </div>
                {% endfor %}
            </div>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'TinTuc' %}" class="ml-auto btn btn-primary btn-success btn-sm active" role="button">XEM THÊM TIN TỨC</a>
                </div>

            <h2 style="text-align: center; font-weight: bold; padding-top: 50px;">HOẠT ĐỘNG CỘNG ĐỒNG MỚI <i class="fa fa-handshake-o" aria-hidden="true"></i></h2>
            <div class="d-flex flex-wrap">
                {% for post in hoat_dong %}
                    <div class="bg-image hover-zoom mx-1">
                    <a href="{% url 'PostDetail' post.pk %}" style="text-decoration: none; color: black ; margin-right: 20px;">
                    <div class="card" style="width: 25rem;">
                        {% if post.hinh_dai_dien %}
                          <img class="card-img-top rounded" src="{{ post.hinh_dai_dien.url }}" onerror="this.onerror=null; this.src='{% static 'images/default_thumb.jpg' %}'" width="500px" height="200px" alt="Card image cap">
                        {% endif %}
                          <div class="card-body">
                            <h5 class="card-title">{{ post.tieu_de }}</h5>
                            <div class="d-flex justify-content-between">
                                    <p><small class="text-muted">Thể loại: {{post.the_loai}}</small></p>
                                    <p><i class="fa fa-calendar" aria-hidden="true">&nbsp;</i><small class="text-muted">{{post.ngay_dang|date:'H:i, d/m/Y'}}</small></p>
                            </div>
                          </div>
                    </div>
                    </a>
                    </div>
                {% endfor %}
            </div>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'HoatDong' %}" class="ml-auto btn btn-success btn-sm active" role="button">XEM THÊM HOẠT ĐỘNG</a>
                </div>
                       

        {% endblock %}

