{% extends 'daihuu/base_no_ad.html' %}
{%load static%}
{% block content %}
    <table class="table table-striped table-borderless table-hover table-secondary table-responsive"width="100%">
  <tbody>
    {% for match in ds_trandau %}
    <tr class="d-flex">
      <td width="10%" class="d-flex align-items-center" style="font-weight:bold;">{{ match.giai_dau}}</td>
      <td width="15%" class="d-flex align-items-center justify-content-start ">{{match.thoi_gian|date:'d/m/Y'}} - {{match.thoi_gian|date:'H:i'}}</td>
      <td width="15%" class="d-flex align-items-center justify-content-center" style="font-weight:bold;">{{ match.dia_diem}}</td>
      <td width="10%" class="d-flex align-items-center justify-content-center">{{ match.doi_bong.filter.first}}</td>
      <td width="7%" class="d-flex align-items-center justify-content-start"><img class="rounded-circle img-fluid" src="{{match.doi_bong.all.filter.first.logo.url}}" onerror="this.onerror=null; this.src='{% static 'images/default_logo1.jpg' %}'" width="60px" height="60px"></td>
      <td width="8%" class="d-flex align-items-center justify-content-center" style="font-family: Iceland; font-size: 30px; font-weight: bold; color: green;">{{ match.diem_so }}</td>
      <td width="7%"  class="d-flex align-items-center justify-content-center"><img class="rounded-circle img-fluid" src="{{match.doi_bong.all.filter.last.logo.url}}" onerror="this.onerror=null; this.src='{% static 'images/default_logo2.jpg' %}'" width="60px" height="60px"></td>
      <td width="10%" class="d-flex align-items-center justify-content-center">{{ match.doi_bong.filter.last}}</td>
      <td class="d-flex flex-grow-1"><a href="{% url 'LichThiDauDetail' match.pk %}" style="text-decoration: white;margin-right: 50px; margin-bottom: 30px;">Chi tiết</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}