{% extends 'daihuu/base_no_ad.html' %}
{%load static%}
{% block content %}
<div class="match_detail">
<div class="row" style="padding-bottom:20px;">
  <div class="col-lg-4">
    {% if some_match_thi_dau.first.doi_bong.all.first.logo %}
    <img class="rounded-circle img-fluid" src="{{some_match_thi_dau.first.doi_bong.all.first.logo.url}}" onerror="this.onerror=null; this.src='{% static 'images/default_logo1.jpg' %}'" width="100px" height="100px" style="margin-left:150px;">
    {% endif %}
    <br><br>
    <h3 style="text-align:center; color: green;"><strong>Đội hình {{ some_match_thi_dau.first.doi_bong.all.first }}</strong></h3>
      <table class="table table-striped table-borderless table-hover table-success table-responsive">
        <tbody>
          {% for player in team1 %}
          <tr class="d-flex">
            <td width="50px" class="d-flex align-items-center justify-content-center" style="font-family: Roboto; font-size:large;">{{ player.so_ao}}. </td>
            <td width="250px" class="d-flex align-items-center" style="font-family: Roboto; font-size:large;">{{ player.ho}} {{player.ten}} </td>
            <td width="100px" class="d-flex align-items-center" style="font-family: Roboto; font-size:large;">{{ player.vi_tri}}</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
  </div>
  <div class="col-lg-4">
  <div class="bg-image hover-zoom" style="padding-bottom: 20px; padding-top:140px;">
      <h5 style="text-align:center; padding-bottom:20px;"><strong>Chiến thuật Đại Hữu</strong></h5>
      {% if some_match_thi_dau.first.chien_thuat %}
      <img class="img-fluid" src="{{some_match_thi_dau.first.chien_thuat.url}}" style="width: 400px; height: 400px;">
      {% else %}
      <img class="img-fluid" src="https://res.cloudinary.com/hzay5ix3o/image/upload/v1645791124/media/images/daihuu/lineup/TBD_y99d1a.png" style="width: 400px; height: 400px;">
      {% endif %}
  </div>
  </div>
  <div class="col-lg-4">
    {% if some_match_thi_dau.first.doi_bong.all.last.logo %}
    <img class="rounded-circle img-fluid" src="{{some_match_thi_dau.first.doi_bong.all.last.logo.url}}" onerror="this.onerror=null; this.src='{% static 'images/default_logo1.jpg' %}'" width="100px" height="100px" style="margin-left:150px;">
    {% endif %}
    <br><br>
    <h3 style="text-align:center; color: red;"><strong>Đội hình {{ some_match_thi_dau.first.doi_bong.all.last}}</strong></h3>
      <table class="table table-striped table-borderless table-hover table-danger table-responsive">
        <tbody>
          {% for player2 in team2 %}
          <tr class="d-flex">
            <td width="50px" class="d-flex align-items-center justify-content-center" style="font-family: Roboto; font-size:large;">{{ player2.so_ao}}. </td>
            <td width="250px" class="d-flex align-items-center" style="font-family: Roboto; font-size:large;">{{ player2.ho}} {{player2.ten}} </td>
            <td width="100px" class="d-flex align-items-center" style="font-family: Roboto; font-size:large;">{{ player2.vi_tri}}</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
  </div>
</div>
<hr>
<div class="row">
<div class="col-lg-4" style="padding-bottom:20px; border-right: 1px solid #000;">
  <h5 style="text-align:center;"><strong>Giải đấu</strong></h5>
  <p style="text-align:center;">{{ some_match_thi_dau.first.giai_dau}}</p>
  <hr>
  <h5 style="text-align:center;"><strong>Địa điểm</strong></h5>
  <p style="text-align:center;">{{ some_match_thi_dau.first.dia_diem}}</p>
  <hr>
  <h5 style="text-align:center;"><strong>Thời gian</strong></h5>
  <p style="text-align:center;">{{ some_match_thi_dau.first.thoi_gian|date:'d/m/Y - H:i'}}</p>
</div>
<div class="col-lg-4" style="border-right: 1px solid black;">
  <h5 style="text-align:center;"><strong>Tỉ số</strong></h5>
  <p style="text-align:center;">{{some_match_thi_dau.first.doi_bong.all.first}}&emsp;{{ some_match_thi_dau.first.diem_so }}&emsp;{{some_match_thi_dau.first.doi_bong.all.last}}</p>
  <hr>
  <h5 style="text-align:center;"><strong>Bàn thắng</strong></h5>
  <p>{{ some_match_thi_dau.first.ban_thang|safe}}</p>
</div>
<div class="col-lg-4">
  <h5 style="text-align:center;"><strong>Trọng tài</strong></h5>
  <p style="text-align:center;">{{ some_match_thi_dau.first.trong_tai}}</p>
  <hr>
  <h5 style="text-align:center"><strong>Phạm lỗi</strong></h5>
  <p>{{ some_match_thi_dau.first.pham_loi|safe}}</p>
</div>
</div>
</div>
{% endblock %}