{% extends 'daihuu/base_no_ad.html'%}
{%load static%}
{% block  content %}
<div class="container-fluid">
<h2 class="text-break" style="text-align: center">{{ post.tieu_de }}</h2>
<br>
    <div class="container-fluid d-flex justify-content-between">
        <p class="d-flex"> <small class="text-muted">Người đăng: {{ post.tac_gia }} </small></p>
        <p class="d-flex"> <small class="text-muted">Ngày đăng: {{ post.ngay_dang|date:'d/m/Y - H:i'}}</small></p>
    </div>
<div class="d-flex justify-content-center">
    <img src="{{ post.hinh_dai_dien.url }}" onerror="this.onerror=null; this.src='{% static 'images/default_thumb.jpg' %}'" style="width:900px; height: 500px;">
</div>
<br>
<div class="d-flex justify-content-end">
{% if user.is_authenticated %}
  <form action="{% url 'LikePost' object.id %}" method="POST">
    {% csrf_token %}
    {% if post_is_liked %}
    <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-danger">Bỏ like bài viết</button>  <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
    {% else %}
    <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-info">Like bài viết</button>  <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
    {% endif %}
  </form>
{% else %}
<div class="d-flex align-items-center">
    <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Đăng nhập để like bài viết!</a> <strong class="text-secondary">&nbsp;{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
</div>
{% endif %}
  </div>
<br>
    <p>{{ post.noi_dung|safe}}</p>
</div>

{% endblock %}
