{% extends 'daihuu/base_no_ad.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if form.errors %}
<div class="alert alert-danger container alert-dismissible fade show" role="alert" style="max-width:650px;">
  Lỗi cập nhật, xin hãy sửa lại thông tin !
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if messages %}
     {% for message in messages %}
         <div class="alert alert-success container alert-dismissible fade show" role="alert" style="max-width:650px;">
             {{ message|safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
     {% endfor %}
 {% endif %}
<div class="container" style="max-width: 700px;">
    <h1 style="font-weight:bold;">Sửa thông tin tài khoản</h1>
    <div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{form | crispy}}
    <br>
        <button class="btn btn-primary">
            Cập nhật
        </button>
    </form>
    </div>
</div>
 
{% endblock %}