{% extends 'daihuu/base_no_ad.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if form.errors %}
<div class="alert alert-danger container alert-dismissible fade show" role="alert" style="max-width:650px;">
  Lỗi đăng ký, xin hãy sửa lại thông tin !
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="container" style="max-width: 700px;">
    <h1 style="font-weight:bold;">Đăng ký tài khoản</h1>
    <div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{form | crispy}}
        <!--
        <div class="form-group">
            <label><strong>{{form.username.label}}</strong></label>
            <input type="text" class="form-control" name="username" style="width:500px">
        </div>
        <br>
        <div class="form-group">
            <label><strong>{{form.last_name.label}}</strong></label>
            <input type="text" class="form-control" name="last_name" style="width:500px">
        </div>
        <br>
        <div class="form-group">
            <label><strong>{{form.first_name.label}}</strong></label>
            <input type="text" class="form-control" name="first_name" style="width:500px">
        </div>
        <br>
        <div class="form-group">
            <label><strong>{{form.email.label}}</strong></label>
            <input type="email" class="form-control" name="first_name" style="width:500px">
        </div>
        <br>
        <div class="form-group">
            <label><strong>{{form.password1.label}}</strong></label>
            <input type="password" class="form-control" name="password1" style="width:500px">
        </div>
        <br>
            <div class="form-group">
            <label><strong>{{form.password2.label}}</strong></label>
            <input type="password" class="form-control" name="password2" style="width:500px">
        </div>
        <br>
    -->
    <br>
        <button class="btn btn-primary">
            Đăng ký
        </button>
    </form>
    </div>
</div>
 
{% endblock %}